body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Center vertically */
}

img.roundcat {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 20vw; /* 20% of viewport width */
  max-height: 40vh; /* 40% of viewport height */
}

.credits {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #fff;
  width: 80vw; /* 80% of viewport width */
  max-width: 400px; /* Set a maximum width to prevent it from becoming too wide */
  height: auto;
  line-height: 1.5;
}

.credits h2 {
  font-size: 2rem; /* Fixed font size for h2 element */
}

.credits li {
  font-size: 1rem; /* Fixed font size for list items */
}

.server-link {
  color: #3498db;
  text-decoration: none;
  font-size: 1.5rem; /* Fixed font size for server link */
  font-weight: bold;
  margin-top: 1vh; /* Adjusted margin based on viewport height */
  display: flex;
  align-items: center;
}

.server-link img {
  margin-right: 1rem; /* Adjusted margin based on viewport width */
  max-height: 3vh; /* Adjusted max height based on viewport height */
}
