@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Rubik:wght@600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: #65b7ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #20a6ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.50);
}

header {
    background: transparent;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #333;
    font-size: 24px;
}

h3 {
    color: #333;
    font-size: 17px;
}

h5 {
    color: #333;
    font-size: 50px;
}
 
p1 {
    color: #333;
    font-size: 18px;
}

p {
    color: #333;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    border: 1px solid #000;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
}

label {
    color: #333;
    font-size: 18px;
}

#custom-button {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
    
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s ease; /* Add a smooth transition for background color change */
}

#custom-button:hover {
    background-color: #d6d6d6; /* Change the background color on hover */
}

#custom-button:active {
    background-color: #ddd; /* Change the background color when the button is clicked */
}

#colorInput {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px; /* Add some spacing at the bottom */
    width: 200px; /* Set a specific width for the input */
}

#colorInput:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #4CAF50; /* Change the border color on focus */
}

#invInput {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px; /* Add some spacing at the bottom */
    width: 200px; /* Set a specific width for the input */
}

#invInput:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #4CAF50; /* Change the border color on focus */
}

#item-container {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Rubik', sans-serif;
    background: transparent; /* Remove any background color */
}

#item-counters {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

#item-counters p {
    font-size: 18px;
    margin: 5px 0;
    font-family: 'Rubik', sans-serif;}

#item-counters span {
    font-weight: bold;
    color: #333;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;}

